header {
  text-align: center;
}

h1 {
  margin: 32px 0 56px;
  font-style: italic;
  font-size: 72px;
}

h2 {
  margin: 0 0 8px;
  font-style: italic;
  font-size: 24px;
}

.container {
  max-width: 850px;
  padding: 0 20px;
  margin: auto;
}

.row {
  display: grid;
  grid-template-columns: 180px 1fr;
  column-gap: 40px;
  margin-bottom: 56px;
}

.badge {
  width: 100%;
}

/*
@media (min-width: 900px) {
  .container {
    padding: 0 50px;
  }
} */

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 64px;
  width: 64px;
  border-radius: 12px;
  background: var(--c-lightgrey);
  cursor: pointer;
}

.box::before {
  content: '✔';
  display: none;
  line-height: 1;
  font-size: 32px;
}

.selected::before {
  display: block;
}

.workoutWarrior {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  row-gap: 10px;
  column-gap: 12px;
}